// Font
$mainFont                : 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;




